*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/repodono
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
package.json
bower.json
include/
lib/
local/
build/
bower_components/
node_modules/
stamp-*
